body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
    min-height: 100vh;
    background-image: url(https://static.vecteezy.com/system/resources/previews/025/348/965/non_2x/mathematics-outline-minimal-seamless-pattern-math-education-background-vector.jpg);
}

.main-container {
    width: 100%;
    max-width: 900px; /* Define el ancho máximo del contenedor */
    margin: 20px auto;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
    display: flex; /* Activa el diseño de flexbox */
    gap: 20px; /* Espacio entre el formulario y la tabla */
    align-items: flex-start;
}

.form-container, .table-container {
    flex: 1; /* Ambos elementos ocupan espacio igual */
}

.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-container button {
    width: 100%;
    background-color: #af4caa;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #45a049;
}

.table-container {
    overflow-x: auto; /* Habilita desplazamiento horizontal si es necesario */
}

.result-table {
    width: 100%;
    border-collapse: collapse;
}

.result-table th, .result-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}

.result-table th {
    background-color: #ac4caf;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}